#overview {
    padding-top: 75px;
    padding-bottom: 50px;
}

.subtitle {
    font-size: 1em;
    font-weight: inherit;
    font-style: oblique;
}

#input-recipe {
    height: 180px;
}

#output-recipe {
    height:220px;
}

footer {
    margin-top:30px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
}

@media (min-width: 600px) {
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }
}
