
#input-recipe {
    /* height: calc(100vh - 20px); */
    width:  100%;      /* calc and viewport to the rescue */
    resize: vertical;
    height: 200px;
}

#output-recipe {
    width:  100%;      /* calc and viewport to the rescue */
    min-height: 258px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0px;
}

.h2, h2 {
      margin-bottom: 15px;
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-header h1 {
    text-align: center;
}

.page-header {
    margin-bottom: 10px;
}