<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <h1>Recipe Converter</h1>
        <p>Volumetric to weight ingredient conversion.</p>
    </div>

    <div>
        <h2>Input Recipe</h2>
        <form action="" id="textform" method="post">
            <textarea name="text" style="width:400px; height:150px;">{{textarea}}</textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        <h2>Output Recipe</h2>
        {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <!-- <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul> -->
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            {% endif %} 
        {% endwith %}
    </div>

</body>
</html>