<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i|Roboto+Slab" rel="stylesheet">

<body>
    <div class="container">
        <div class="page-header">
            <h1>Metric Recipe Converter</h1>
            <p class="lead">Tired of reading recipes in cups, tablespoons, and teaspoons when you just want everything in grams? Paste your recipe in volumetric units in the textbox below, and hit "Convert"!</p>
        </div>

        <div class="col-md-6">
            <h2>Input Recipe</h2>
            <p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Recipe Multiplier:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-multiplier" name="multiplier" value={{multiplier}} placeholder="How many of this recipe do you want?">
                    </div>
                </div>
                <textarea name="text" class="form-control" id="input-recipe" placeholder="Ingredient list goes here!">{{textarea}}</textarea>
                <br>
                <button id="btn-convert" class="btn btn-primary" value="Convert">Convert</button>
                <button id="btn-clear" class="btn btn-secondary" value="Clear">Clear</button>
            </p>
        </div>

        <div class="col-md-6">
            <h2>Output Recipe</h2>
            <textarea id="output-recipe" readonly></textarea>
            <br>

        </div>

    </div>

</body>

<footer>
    <div class="container">
        <hr>
        <p class="text-center"><i>
            Check out this project on <a href="https://github.com/justinmklam/recipe-converter">GitHub</a>, or
            read about my other projects at <a href="http://justinmklam.com/blog/">justinmklam.com</a>!
        </i>
        </p>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    var btnConvert = $("#btn-convert")
    var btnClear = $("#btn-clear")
    var txtInputRecipe = $("#input-recipe")
    var txtInputMultiplier = $("#input-multiplier")
    var txtOutputRecipe = $("#output-recipe")

    window.addEventListener("load", function () {
        btnConvert.on("click", onConvertClicked);
        btnClear.on("click", onClearClicked);
    });

    function onConvertClicked() {
        $.post("convert", {"data": txtInputRecipe.text(), "multiplier": txtInputMultiplier.val()}, function(data) {
            txtOutputRecipe.text(data);
        });
    }

</script>

</html>
