<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i|Roboto+Slab" rel="stylesheet">

<body>
    <div class="container">
        <div class="page-header">
            <h1>Metric Recipe Converter</h1>
            <p class="lead">Tired of reading recipes in cups, tablespoons, and teaspoons when you just want everything in grams? Paste your recipe in volumetric units in the textbox below, and hit "Convert"!</p>
        </div>

        <div class="col-md-6">
            <h2>Input Recipe</h2>
            <p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Recipe Multiplier:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-multiplier" name="multiplier" value=1.0 placeholder="How many of this recipe do you want?">
                    </div>
                </div>
                <textarea name="text" class="form-control" id="input-recipe" placeholder="Paste URL or ingredient list here"></textarea>
                <br>
                <button id="btn-convert" class="btn btn-primary" value="Convert">Convert</button>
                <button id="btn-paste" class="btn btn-secondary" value="Paste">Paste</button>
                <button id="btn-clear" class="btn btn-secondary" value="Clear">Clear</button>
            </p>
        </div>

        <div class="col-md-6">
            <h2>Output Recipe</h2>
            <textarea id="output-recipe" placeholder="Converted recipe will appear here" readonly></textarea>
            <br><br>
            <button id="btn-copy" class="btn btn-success" value="Copy">Copy to Clipboard</button>
        </div>

    </div>

</body>

<footer>
    <div class="container">
        <hr>
        <p class="text-center"><i>
            Check out this project on <a href="https://github.com/justinmklam/recipe-converter">GitHub</a>, or
            read about my other projects at <a href="http://justinmklam.com/blog/">justinmklam.com</a>!
        </i>
        </p>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    var btnConvert = $("#btn-convert")
    var btnClear = $("#btn-clear")
    var btnCopy = $("#btn-copy")
    var btnPaste = $("#btn-paste")
    var txtInputRecipe = $("#input-recipe")
    var txtInputMultiplier = $("#input-multiplier")
    var txtOutputRecipe = $("#output-recipe")

    window.addEventListener("load", function () {
        btnConvert.on("click", onConvertClicked);
        btnClear.on("click", onClearClicked);
        btnCopy.on("click", onCopyClicked);
        btnPaste.on("click", onPasteClicked);
    });

    function convertRecipe(recipe, multiplier) {
        $.post(
            "convert",
            {"data": txtInputRecipe.val(), "multiplier": txtInputMultiplier.val()},
            function(data) {
                txtOutputRecipe.val(data);
            }
        );
    }

    function onConvertClicked() {
        if (txtInputRecipe.val().includes("http")) {
            btnConvert.prop("disabled", true);
            btnClear.prop("disabled", true);
            btnPaste.prop("disabled", true);

            // Get ingredients from URL, then convert
            $.post(
                "ingredients_from_url",
                {"url": txtInputRecipe.val()},
                function(data) {
                    txtInputRecipe.val(data)
                    convertRecipe(data, txtInputMultiplier.val())
                }
            )
            .fail(function() {
                alert("Error: Website not supported for " + txtInputRecipe.val())
            })
            .always(function() {
                btnConvert.prop("disabled", false);
                btnClear.prop("disabled", false);
                btnPaste.prop("disabled", false);
            })
        }
        else {
            // Ingredients entered,
            convertRecipe(txtInputRecipe.val(), txtInputMultiplier.val())
        }
    }

    function onClearClicked() {
        txtInputRecipe.val("");
    }

    function onCopyClicked() {
        copyToClipboard(txtOutputRecipe.val());
    }

    function onPasteClicked() {
        navigator.clipboard.readText()
        .then(text => {
          txtInputRecipe.val(text);
        })
        .catch(err => {
          console.error('Failed to read clipboard contents: ', err);
        });
    }

    // Copies a string to the clipboard. Must be called from within an
    // event handler such as click. May return false if it failed, but
    // this is not always possible. Browser support for Chrome 43+,
    // Firefox 42+, Safari 10+, Edge and Internet Explorer 10+.
    // Internet Explorer: The clipboard feature may be disabled by
    // an administrator. By default a prompt is shown the first
    // time the clipboard is used (per session).
    function copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
            // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
            return clipboardData.setData("Text", text);

        }
        else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
            var textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
            document.body.appendChild(textarea);
            textarea.select();
            try {
                return document.execCommand("copy");  // Security exception may be thrown by some browsers.
            }
            catch (ex) {
                console.warn("Copy to clipboard failed.", ex);
                return false;
            }
            finally {
                document.body.removeChild(textarea);
            }
        }
    }

</script>

</html>
