<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Metric Kitchen | Recipe Converter</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
        rel="stylesheet">

<body>

    <div class="section bg-gray">
        <div class="grid-hero container grid-lg text-center" id="overview">
            <h1>The Metric Kitchen</h1>
            <h2 class="subtitle">Convert your recipes from <span>imperial volume</span> to <span>metric weight</span>
                units!
            </h2>
        </div>
    </div>
    <div class="section section-features">
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title">Input Recipe</div>
                        </div>
                        <div class="panel-nav">
                            <!-- navigation components: tabs, breadcrumbs or pagination -->
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="container">
                                    <div class="columns">
                                        <div class="col-2">
                                            <label class="form-label" for="input-multiplier">Scale</label>
                                        </div>
                                        <div class="col-10">
                                            <input type="number" class="form-input" id="input-multiplier"
                                                name="multiplier" value=1.0
                                                placeholder="How many of this recipe do you want?">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <textarea name="text" class="form-input" id="input-recipe"
                                placeholder="Paste URL or recipe here"></textarea>
                        </div>
                        <div class="panel-footer">
                            <button id="btn-convert" class="btn btn-primary" value="Convert">Convert</button>
                            <button id="btn-clear" class="btn btn-secondary" value="Clear">Clear</button>
                            <button id="btn-help" class="btn btn-link">Help</button>
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title">Output Recipe</div>
                        </div>
                        <div class="panel-nav">
                            <!-- navigation components: tabs, breadcrumbs or pagination -->
                        </div>
                        <div class="panel-body">
                            <textarea class="form-input" id="output-recipe"
                                placeholder="Converted recipe will appear here"></textarea>
                        </div>
                        <div class="panel-footer">
                            <button id="btn-copy" class="btn btn-success" value="Copy">Copy to Clipboard</button>
                            <button id="btn-reader-view" class="btn btn-secondary">Reader View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reader view modal -->
    <div id="reader-view" class="modal modal-lg">
        <a class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a class="btn btn-clear float-right btn-reader-view-close" aria-label="Close"></a>
                <div class="modal-title h5">Recipe</div>
            </div>
            <div class="modal-body">
                <div class="content" id="reader-view-content">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link btn-reader-view-close">Close</button>
            </div>
        </div>
    </div>

    <!-- Help modal -->
    <div id="modal-help" class="modal modal">
        <a class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a class="btn btn-clear float-right btn-help-close" aria-label="Close"></a>
                <div class="modal-title h5">Using the App</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    The input recipe accepts either a <strong>URL</strong> (if the website is supported), or a
                    <strong>list of ingredients</strong>. The recipe instructions can also be added below the
                    ingredients, <strong>separated by two new lines</strong>.

                    The converted recipe, both ingredients and instructions, can be viewed in the <i>Reader View</i>
                    after conversion. This provides a clean way to view the recipe without any distractions.

                    For example:
                    <pre>
2 cups all-purpose flour
1 teaspoon baking soda
1/4 teaspoon salt
1/2 cup butter
3/4 cup brown sugar
2 eggs, beaten
2 1/3 cups mashed overripe bananas


Preheat oven to 350 degrees F (175 degrees C).
In a large bowl, combine flour, baking soda and salt. In a separate bowl, cream together butter and brown sugar.
Stir in eggs and mashed bananas until well blended. Stir banana mixture into flour mixture; stir just to moisten. Pour batter into prepared loaf pan.
Bake in preheated oven for 60 to 65 minutes. Let bread cool in pan for 10 minutes, then turn out onto a wire rack.
                </pre>
                    Will convert to:
                    <pre>
284 g all-purpose flour
6 g baking soda
1.2 g salt
113.5 g butter
148.5 g brown sugar
2 eggs, beaten
2.3 cup mashed overripe bananas

Preheat oven to 350 degrees F (175 degrees C).

In a large bowl, combine flour, baking soda and salt. In a separate bowl, cream together butter and brown sugar.

Stir in eggs and mashed bananas until well blended. Stir banana mixture into flour mixture; stir just to moisten. Pour batter into prepared loaf pan.

Bake in preheated oven for 60 to 65 minutes. Let bread cool in pan for 10 minutes, then turn out onto a wire rack.
                </pre>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link btn-help-close">Close</button>
            </div>
        </div>
    </div>

    <footer class="section section-footer bg-primary">
        <div class="docs-footer container grid-lg text-center">
            <a href="https://github.com/namtonthat/recipe-converter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg></a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
